/* Hide social media share buttons from posts in attila theme */
.post-share {
  display: none;
}
/* div.site-name a { */
/*     font-weight: bold; */
/* } */

/* footer .author__logo img { */
/*     border-radius: 50%; */
/* } */

/* body { */
/*     font-size: 18px; */
/* } */

/* header .site-name { */
/*     font-size: 3rem; */
/* } */
