/* Hide social media share buttons from posts in attila theme */

.post-share {
  display: none;
}

video {
  width: 100%;
}

div#codersranksummary {
  display: flex;
  flex-direction: row;

  width: 400px;
  height: 183px;
}

div#codersranksummary img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div#codersrankgraph {
  width: 90%;
  height: auto;
}

div#codersrankgraph img {
  margin: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  div#codersranksummary {
    display: block;
    width: 90%;
  }

  div#codersrankgraph {
    width: 90%;
  }
}
