/* ============================================================ */
/* Base */
/* ============================================================ */
html,
body {
  height: 100%; }

body {
  background: #fefefe;
  color: #424242;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 33px;
  text-transform: none; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  margin-bottom: 20px; }

h4 {
  font-size: 18px;
  margin-bottom: 18px; }

h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6 {
  font-size: 14px;
  margin-bottom: 12px; }

p {
  line-height: 1.8;
  margin: 0 0 30px; }

a {
  color: #f03838;
  text-decoration: none; }

ul,
ol {
  list-style-position: outside;
  line-height: 1.8;
  margin: 0 0 40px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 10px 0 0 20px; }
  ul li,
  ol li {
    margin: 0 0 10px; }
    ul li:last-of-type,
    ol li:last-of-type {
      margin-bottom: 0; }

ul {
  padding-left: 20px; }

ol {
  padding-left: 22px; }

ul ul,
ol ul {
  padding-left: 0; }

ul ol,
ol ol {
  padding-left: 5px; }

blockquote {
  border-left: 1px dotted #303030;
  margin: 40px 0;
  padding: 5px 30px; }
  blockquote p {
    color: #aeadad;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%; }

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%; }

pre {
  background: #f1f0ea;
  border: 1px solid #dddbcc;
  border-radius: 3px;
  margin: 0 0 40px;
  padding: 15px 20px; }

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0; }

table {
  margin-bottom: 40px;
  width: 100%; }
  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3; }
  table th {
    padding: 0 10px 10px;
    text-align: left; }
  table td {
    padding: 10px; }
  table tr {
    border-bottom: 1px dotted #aeadad; }

::selection {
  background: #fff5b8;
  color: #000;
  display: block; }

::-moz-selection {
  background: #fff5b8;
  color: #000;
  display: block; }

.fluid-width-video-wrapper {
  margin-bottom: 40px; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ============================================================ */
/* General Appearance */
/* ============================================================ */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 889px; }

#wrapper {
  height: auto;
  min-height: 100%;
  /* This must be the same as the height of the footer */
  margin-bottom: -265px; }
  #wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 265px; }

.button {
  background: #303030;
  border: none;
  border-radius: 3px;
  color: #fefefe;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase; }
  .button:hover {
    background: #f03838; }

.button-square {
  background: #f03838;
  color: #fff;
  float: left;
  font-size: 17px;
  margin: 0 0 0 10px;
  padding: 3px 8px 4px; }
  .button-square:hover {
    background: #303030; }

/* ============================================================ */
/* Site Header */
/* ============================================================ */
.site-header {
  padding: 100px 0 0;
  overflow: auto;
  text-align: center;
  text-transform: uppercase; }

.site-title-wrapper {
  display: table;
  margin: 0 auto; }

.site-title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase; }
  .site-title a {
    float: left;
    background: #f03838;
    color: #fefefe;
    padding: 5px 10px 6px; }
    .site-title a:hover {
      background: #303030; }

.site-logo {
  display: block; }
  .site-logo img {
    margin: 0; }

.site-nav {
  list-style: none;
  margin: 28px 0 10px;
  padding-left: 0; }

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px; }
  .site-nav-item a:hover {
    color: #424242; }

/* ============================================================ */
/* Post */
/* ============================================================ */
#latest-post {
  display: none; }

.post-container {
  margin: 0 40px; }

.post-header {
  border-bottom: 6px solid #303030;
  margin: 0 0 50px;
  padding: 0 0 80px;
  text-align: center;
  text-transform: uppercase; }

.post-title,
.page-title {
  font-size: 52px;
  font-weight: 700;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase; }

.page-title {
  margin: 15px 40px; }

.post-date,
.blog-description {
  color: #aeadad;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0; }
  .post-date a,
  .blog-description a {
    color: #aeadad; }
  .post-date a:hover,
  .blog-description a:hover {
    color: #f03838; }
  .post-date:after,
  .blog-description:after {
    border-bottom: 1px dotted #303030;
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px; }

.post-content a:hover {
  border-bottom: 1px dotted #f03838;
  padding: 0 0 2px; }

.post-content:last-child {
  margin-bottom: 0; }

.post-footer {
  margin-top: 5px; }

.post-tags,
.share {
  color: #aeadad;
  font-size: 14px; }
  .post-tags span,
  .share span {
    font-weight: 600; }

.post-tags {
  float: left;
  margin: 3px 0 0; }
  .post-tags a:hover {
    color: #303030; }

.share {
  float: right; }
  .share a {
    background: #f03838;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 0 4px;
    width: 30px;
    text-align: center; }
  .share a:hover {
    background: #303030; }

.post-navigation {
  display: table;
  margin: 70px auto 100px; }

.newer-posts,
.older-posts {
  float: left;
  background: #f03838;
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase; }
  .newer-posts:hover,
  .older-posts:hover {
    background: #303030; }

.page-number {
  display: none; }

/* ============================================================ */
/* Post Index */
/* ============================================================ */
.post-list {
  border-top: 6px solid #303030;
  list-style: none;
  margin: 80px 40px 0;
  padding: 35px 0 0; }

.post-stub {
  border-bottom: 1px dotted #303030;
  margin: 0;
  position: relative; }
  .post-stub:first-child {
    padding-top: 0; }
  .post-stub a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    color: #424242;
    padding: 20px 5px; }
    .post-stub a:hover {
      background: #fcf5f5;
      color: #f03838;
      padding: 20px 12px; }
      .post-stub a:hover .post-stub-tag {
        background: #f03838; }

.post-stub-tag {
  background: #303030;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px;
  text-transform: uppercase; }

.post-stub-title {
  display: inline-block;
  margin: 0;
  text-transform: none; }

.post-stub-date {
  display: inline-block; }
  .post-stub-date:before {
    content: "/ "; }

.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px; }

/* ============================================================ */
/* Author */
/* ============================================================ */
.author-profile {
  margin: 0 40px; }
  .author-profile:after {
    border-bottom: 1px dotted #303030;
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px; }

.author-heading {
  margin: 15px auto;
  text-align: center;
  width: 100%; }

.author-avatar {
  border-radius: 50px;
  display: inline;
  height: 50px;
  margin: 5px 10px 0 0;
  width: 50px;
  vertical-align: middle; }

.author-name {
  display: inline;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.author-meta {
  color: #aeadad;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
  text-align: center;
  text-transform: uppercase; }
  .author-meta span {
    display: inline-block;
    margin: 0 10px 8px; }
  .author-meta i {
    margin-right: 8px; }
  .author-meta a {
    color: #aeadad; }
  .author-meta a:hover {
    color: #f03838; }

.author-bio {
  margin: 20px auto 0;
  text-align: center;
  max-width: 700px; }

/* ============================================================ */
/* Footer */
/* ============================================================ */
.footer {
  background: #303030;
  color: #d3d3d3;
  height: 265px;
  margin-top: 95px;
  overflow: auto; }
  .footer .site-title-wrapper {
    margin: 80px auto 35px; }
  .footer .site-title a:hover,
  .footer .button-square:hover {
    background: #121212; }
  .footer .button-jump-top {
    font-size: 23px;
    line-height: 1.1;
    padding-top: 1px; }

.footer-copyright {
  color: #656565;
  font-size: 14px;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }
  .footer-copyright a {
    color: #656565;
    font-weight: 700; }
    .footer-copyright a:hover {
      color: #fefefe; }

/* ============================================================ */
/* NProgress */
/* ============================================================ */
#nprogress .bar {
  background: #f03838; }

#nprogress .peg {
  box-shadow: 0 0 10px #f03838, 0 0 5px #f03838; }

#nprogress .spinner-icon {
  border-top-color: #f03838;
  border-left-color: #f03838; }

/* ============================================================ */
/* Media Queries */
/* ============================================================ */
@media only screen and (max-width: 800px) {
  .post-stub-tag {
    display: none; } }

@media only screen and (max-width: 600px) {
  h1,
  h2 {
    margin-bottom: 20px; }
  p {
    margin-bottom: 20px; }
  ul,
  ol {
    margin-bottom: 20px; }
  img {
    margin: 30px 0; }
  blockquote {
    margin: 30px 0; }
  pre {
    margin: 30px 0; }
  hr {
    margin: 35px 0; }
  .site-header {
    padding-top: 60px; }
  .site-nav-item {
    display: block;
    margin: 15px 0; }
  .post-header {
    margin-bottom: 35px;
    padding-bottom: 45px; }
  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    font-size: 42px;
    margin-top: 5px; }
  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 20px; }
    .post-date:after, .post-date:before,
    .blog-description:after,
    .blog-description:before,
    .author-meta:after,
    .author-meta:before {
      margin-top: 30px; }
  .author-profile:after, .author-profile:before {
    margin-top: 20px; }
  .post-stub-title {
    display: block; }
  .post-stub-date:before {
    content: "";
    display: block; }
  .post-list {
    margin-top: 45px; }
  .post-container,
  .post-list,
  .author-profile {
    margin-right: 25px;
    margin-left: 25px; }
  .post-tags {
    width: 100%; }
  .post-stub a,
  .post-stub a:hover {
    padding-top: 12px;
    padding-bottom: 12px; }
  .share {
    float: left;
    margin-top: 20px; }
    .share a {
      margin: 0 5px 0 0; }
  .footer {
    margin-top: 50px; } }

@media only screen and (max-width: 400px) {
  .site-header {
    padding-top: 40px; }
  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    font-size: 30px;
    line-height: 1.2; }
  .post-date,
  .blog-description,
  .author-meta {
    line-height: 1.6; }
  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 10px; }
    .post-date:after, .post-date:before,
    .blog-description:after,
    .blog-description:before,
    .author-meta:after,
    .author-meta:before {
      margin-top: 20px; }
  .author-profile:after, .author-profile:before {
    margin-top: 10px; }
  .post-container,
  .post-list,
  .author-profile {
    margin-right: 15px;
    margin-left: 15px; }
  .author-avatar {
    display: block;
    margin: 0 auto 18px; }
  .author-meta span {
    display: block;
    margin: 18px 0; }
  .footer-copyright {
    padding: 0 10px; } }

blockquote {
  border: 1px solid #dddbcc;
  border-radius: 3px;
  margin: 0 0 40px;
  padding: 20px 30px;
  font-style: normal;
  color: #000000; }
  blockquote p {
    font-style: normal;
    color: #000000;
    display: block;
    margin: 0;
    width: 100%; }

body {
  font-family: "Open Sans", Georgia, serif;
  font-weight: 200;
  color: #424242;
  font-style: normal;
  font-size: 24px; }

.post-header-index {
  padding: 0px;
  padding-top: 50px;
  border: 0px; }

.post-stub a:hover {
  padding: 20px 5px;
  cursor: pointer; }

.blog-description:after,
.post-date:after {
  border: 0px;
  margin: 0px; }

.page-title,
.post-title {
  padding-top: 30px; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  padding: 0 24px;
  width: auto; }

.post-content a:hover {
  padding: 0px; }

.post-stub-date:before {
  content: ""; }

.post-list {
  padding-top: 0px; }

.post-header {
  padding-top: 50px; }

.footer-copyright {
  text-transform: none; }

.footer {
  padding-bottom: 40px; }

.post-content {
  font-family: "Rokkitt", Georgia, serif;
  line-height: 1.4;
  font-size: 1.5rem; }
  .post-content p {
    font-family: "Rokkitt", Georgia, serif;
    line-height: 1.4; }

@media only screen and (max-width: 480px) {
  body {
    font-size: 20px; }
    body id#wrapper {
      margin-left: 1rem;
      margin-right: 1rem;
      background-color: pink; } }

.site-title a {
  margin-right: 10px; }

.site-name {
  font-size: 52px;
  font-weight: 700;
  margin: 15px 0;
  text-align: center;
  margin-right: 8px; }
  @media only screen and (max-width: 480px) {
    .site-name {
      font-size: 2rem; } }
.site-hello {
  text-transform: none; }
  @media only screen and (max-width: 480px) {
    .site-hello {
      font-size: 1.5rem; } }
.post-title {
  margin-right: 8px; }

@media only screen and (max-width: 480px) {
  .hide-on-mobile {
    display: none; } }

code,
pre {
  font-size: 0.9rem; }

.highlight pre .hll {
  background-color: #49483e; }

.highlight pre {
  background: #272822;
  color: #f8f8f2; }

.highlight pre .c {
  color: #75715e; }

/* Comment */
.highlight pre .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight pre .k {
  color: #66d9ef; }

/* Keyword */
.highlight pre .l {
  color: #ae81ff; }

/* Literal */
.highlight pre .n {
  color: #f8f8f2; }

/* Name */
.highlight pre .o {
  color: #f92672; }

/* Operator */
.highlight pre .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight pre .ch {
  color: #75715e; }

/* Comment.Hashbang */
.highlight pre .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight pre .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight pre .cpf {
  color: #75715e; }

/* Comment.PreprocFile */
.highlight pre .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight pre .cs {
  color: #75715e; }

/* Comment.Special */
.highlight pre .gd {
  color: #f92672; }

/* Generic.Deleted */
.highlight pre .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight pre .gi {
  color: #a6e22e; }

/* Generic.Inserted */
.highlight pre .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight pre .gu {
  color: #75715e; }

/* Generic.Subheading */
.highlight pre .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight pre .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight pre .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight pre .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight pre .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight pre .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight pre .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight pre .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight pre .s {
  color: #e6db74; }

/* Literal.String */
.highlight pre .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight pre .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight pre .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight pre .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight pre .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight pre .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight pre .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight pre .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight pre .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight pre .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight pre .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight pre .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight pre .nt {
  color: #f92672; }

/* Name.Tag */
.highlight pre .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight pre .ow {
  color: #f92672; }

/* Operator.Word */
.highlight pre .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight pre .mb {
  color: #ae81ff; }

/* Literal.Number.Bin */
.highlight pre .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight pre .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight pre .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight pre .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight pre .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight pre .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight pre .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight pre .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight pre .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight pre .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight pre .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight pre .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight pre .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight pre .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight pre .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight pre .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight pre .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight pre .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight pre .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight pre .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
